@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg") format("svg");
}

/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
} */

/* HEADER CSS */

.header {
  border-bottom: 2px solid #101010;
  background-image: linear-gradient(to right, white, DodgerBlue);
}

.image {
  padding: 2px;
}

.image-2 {
  margin: 30px 0px 0 -20px;
  padding-top: 10px;
  margin-right: 50px;
}

/* ----------------------------------------------------------------------------- */

/* FACEBOOK LOGO CSS */

.facebook-logo {
  width: 50px;
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 420px;
  justify-content: center;
}

.header_title {
  margin: 20px 0px 0px -100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* ------------------------------------------------- */

/* FORM CSS */

.form_label {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}



/* ------------------------------------------------- */

/* Button CSS */

/* .btn:focus {
    outline: none !important;
    
  } */

  .buttons{
      display: flex;
      justify-content: space-between;
  }

  .button-1{
    margin-right: 142px;
  }

/* ------------------------------ */