@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg") format("svg");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #101010;
  border-bottom: 2px solid #101010;
  background-image: linear-gradient(to right, white, DodgerBlue);
}

.inner-header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: red;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.image {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 15px;
}

.title {
  width: 50px;
  height: 20px;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
  padding-right: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

li a:hover {
  background-color: #111111;
}

.breadcrumbs {
  display: inline;
  /* flex-wrap: wrap; */
  border-radius: 0.25rem;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.title_container h1 {
  font-family: Arial, Helvetica, sans-serif;
  /* text-align: center;
  padding-top: 10px; */
}

.title_container img {
  width: 50px;
  /* padding-top: 10px; */
  margin-right: 15px;
  padding-left: 0px;
  /* padding-right: 15px; */
}

.post_container {
  position: absolute;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  padding-top: 20px;
  width: 100px;
  height: 100px;
}

.post_title input[type="text"] {
  padding: 12px 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post_desc textarea[type="text"] {
  padding: 12px 100px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post_date input[type="date"]{
  padding: 12px 115px;
  margin: 8px 0 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post_time input[type="time"]{
  padding: 12px 135px;
  margin: 8px 0px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ------------------- buttons CSS ------------------ */

.btn-group {
  padding-top: 10px;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding-left: 150px;
}

.button_item {
  padding: 10px;
}

.btn {
  outline: none;
  display: block;
  border: 0;
  font-size: 10px;
  font-weight: bold;
  padding: 16px 30px;
  border-radius: 30px;
  cursor: pointer;
}

.preview {
  background: #0081d5;
  color: #ffffff;
  transition: all 0.3s linear;
}

.preview:hover,
.preview:focus {
  background: #005c99;
}

.cancel {
  background: #ff0404;
  color: #ffffff;
  transition: all 0.3s linear;
}

.cancel:hover,
.cancel:focus {
  background: #d51900;
}

.save {
  background: #12d500;
  color: #ffffff;
  transition: all 0.3s linear;
}

.save:hover,
.save:focus {
  background: #027b0c;
}

/* ----------------------------------------------- */

/* Timepicker */
.post_time {
  padding-top: 10px;
}

.post_time label {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  /* margin-right: 50px; */
}
/* -------------- */

/* .breadcrumb {
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li a {
  color: inherit;
}
.breadcrumb > .active {
  color: inherit;
} */
